################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/NotificationService/FileContentIndex/02632231-6c4f-494e-80aa-27bd1fc54039.vsidx
/.vs/NotificationService/FileContentIndex/f826be02-1a0f-4a58-9807-26d67b50e309.vsidx
